.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.banner-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    object-fit: cover;
    width: 100%;
}

.banner-logo {
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.banner-text > h3,
.banner-text > h4 {
    text-align: center;
    color: var(--light);
}

.banner-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}

.banner-caption {
    z-index: 12;
}

@media (max-width: 600px) {
    .banner-image {
        height: 100%;
        filter: brightness(60%);
    }
    .banner {
        width: 100%;
        border-radius: 0;
        height: 500px;
    }
}
